header{text-align: center;}
h1{text-align: center;}
h2{text-align: center;}
a{text-align: center;}
a{color: rgb(20, 73, 80);}
footer{text-align: right;}
.ptv{color:darkolivegreen}
.ptv{text-align: center;}